@import "../../../styles/shared.scss";

.servicesWrapper {
  background-color: $background-primary;
  padding-block: $padding;
  padding-inline: calc($padding * 2);
  position: relative;
  @media screen and (max-width: 950px) {
    padding-inline: $padding;
  }
  @media screen and (max-width: 650px) {
    padding-inline: 20px;
  }
  h1 {
    font-size: 80px;
    color: $color-secondary;
    font-weight: 700;
    @media screen and (max-width: 500px) {
      font-size: 6rem;
    }
  }
  .button {
    background-color: $background-primary;
    color: $color-secondary;
    border: 1px solid $color-secondary;
    padding: 4px 20px;
    font-size: $h5;
    font-weight: 700;
    border-radius: 20px;
    width: fit-content;
    margin-block: 16px;
    cursor: pointer;
  }
  .swiperButton {
    border: 2px solid $color-tertiary;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
    font-weight: 400;
    font-size: 30px;
    @media screen and (max-width: 500px) {
      width: 40px;
      height: 40px;
      svg {
        width: 20px;
        height: 20px;
        object-fit: cover;
      }
    }
  }
}

.slide {
  width: fit-content !important;
}

.serviceCard {
  background-color: $background-primary;
  border-radius: 0px;
  margin-block: 16px;
  width: 380px;
  height: 450px;
  display: grid;
  grid-template-rows: 1fr auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  @media screen and (max-width: 500px) {
    width: 300px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .textWrapper {
    padding: 24px 16px;
    h2 {
      font-size: $h4;
      color: $color-secondary;
      font-weight: 700;
      margin-bottom: 16px;
    }
    p {
      font-size: 12px;
      color: $color-tertiary;
      font-weight: 700;
    }
  }
}
