@import "../../styles/shared.scss";
.mainBanner {
  height: 880px;
  width: 100%;
  background-color: burlywood;
  background-image: url("https://mecaluxcl.cdnwm.com/documents/20128/480811/M6P1-2+Camiones+efectuando+la+descarga+de+mercanc%C3%ADas+en+los+muelles+del+almac%C3%A9n.jpg/bb7f62ae-7d32-c4a3-de1d-c1f4e12daa44?t=1669733978505&e=jpg");
}
