@import "../../../styles/shared.scss";

.MainWrapper {
  height: 540px;
  background-color: $background-secondary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .textWrapper {
    justify-self: flex-start;
    align-self: center;
    h1 {
      font-size: $h1;
      color: $color-primary;
      font-weight: 700;
    }
  }
  @media screen and (max-width: 875px) {
    padding: $padding;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .emtpy{
      display: none;
    }
  }
}
