@import "../../../styles/shared.scss";

.mainWrapperContact {
  padding: $padding;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 40px;
  @media screen and (max-width: 768px) {
    padding: $padding 20px;
  }
  .socialMedia {
    display: flex;
    column-gap: 20px;
    margin-top: 12px;
    div {
      width: fit-content;
      cursor: pointer;
      svg {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}
.textWrapper {
  h1 {
    font-size: 70px;
    color: $color-secondary;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: 4rem;
    }
  }
  .section {
    margin-top: 40px;
  }
  .icon {
    margin-bottom: 8px;
  }
  p {
    strong {
      font-weight: 700;
    }
    font-size: $h4;
    color: $color-secondary;
  }
}

.contactWrapper {
  padding: 98px 70px;
  background-color: $background-tertiary;
  margin-top: -170px;
  width: 90%;
  max-width: 812px;
  @media screen and (max-width: 1411px) {
    margin-top: 0px;
  }
  @media screen and (max-width: 768px) {
    padding: $padding 20px;
    h1 {
      font-size: $h3;
    }
  }
  @media screen and (max-width: 500px) {
    padding: $padding 20px;
    max-width: 100%;
    width: 100%;
  }
  h1 {
    font-size: 3.2rem;
    color: $color-secondary;
    font-weight: 700;
    @media screen and (max-width: 768px) {
      font-size: $h2;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    row-gap: 12px;

    label {
      font-size: $h4;
      color: $color-secondary;
      font-weight: 700;
    }
    button {
      background-color: $background-secondary;
      color: $color-primary;
      font-size: $h5;
      font-weight: 700;
      padding: 10px;
      border: none;
      margin-top: 43px;
      width: 130px;
      cursor: pointer;
      text-align: center;
    }
    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      background-color: $background-tertiary;
      padding-bottom: 4px;
      &:focus {
        outline: none;
      }
    }
    input.message {
      height: 231px;
    }
    input::placeholder {
      color: $color-secondary;
    }
  }
}
