@import "../../../styles/shared.scss";

.mainWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../public/images/nosotros_historia_banner.png");
  @media screen and (max-width: 950px) {
    grid-template-columns: 1fr;
  }
  .leftWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $padding;
    padding-inline-start: calc($padding * 2);
    background-color: #2f2e64ea;
    height: 800px;
    @media screen and (max-width: 1150px) {
      padding-inline-start: $padding;
    }
    @media screen and (max-width: 500px) {
      padding: 20px;
    }
    h1 {
      font-size: 80px;
      font-weight: 700;
      color: $color-primary;
      margin-bottom: 30px;
    }
    p {
      font-size: $h4;
      color: $color-primary;
      font-weight: 400;
      max-width: 500px;
    }
  }
  .image {
    height: 800px;
    background-color: transparent;
    @media screen and (max-width: 950px) {
      display: none;
    }
  }
}
