@import "./shared.scss";
@font-face {
  font-family: "helvetica";
  src: url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("woff"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("opentype"),
    url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf")
      format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica";
  font-weight: 400;
}
html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
  background-color: $background-primary;
}
//swiper
.swiperServices {
  margin-left: 200px !important;
}
.swiper-backface-hidden .swiper-slide {
  width: fit-content;
  padding-left: 10px;
}

#globalHeader {
  background-color: rgba($color: #000000, $alpha: 0.4);
  height: 120px;
  display: flex;
  padding-inline: $padding;
  align-items: center;
  font-size: $h4;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  color: $color-primary;
  z-index: 2;
  .burger--section {
    display: none;
    cursor: pointer;
    svg {
      object-fit: cover;
      display: grid;
      place-items: center;
      width: 30px;
      height: 30px;
    }
    @media screen and (max-width: 1450px) {
      display: flex;
      place-content: center;
    }
  }
  .logo--wrapper {
    width: 200px;
    height: 50px;
    margin-right: 10%;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
    .links {
      list-style: none;
      display: inline-block;
      color: white;
      text-decoration: none;
      font-weight: 400;
    }
    @media screen and (max-width: 1450px) {
      display: none;
    }
  }
  .right--section--wrapper {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: $h5;
    margin-left: 10%;
    .button {
      background-color: $color-secondary;
      color: $color-primary;
      padding: 4px 20px;
      border: none;
      cursor: pointer;
    }
  }
  .right--section--wrapper--icon {
    display: flex;
    column-gap: 20px;
    p {
      border-radius: 4px;
    }
  }
}

#mobileGlobalMenu {
  .menu--background {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: white;
    cursor: pointer;
  }
  .menu--wrapper {
    width: 80%;
    background-color: $background-secondary;
    height: 100vh;
    max-width: 300px;
    position: fixed;
    z-index: 3;
    right: 0px;
    ul {
      list-style: none;
      display: grid;
      place-items: center;
      align-content: center;
      height: 100%;
      row-gap: 24px;
      .links {
        list-style: none;
        display: inline-block;
        color: white;
        text-decoration: none;
        font-weight: 400;
        font-size: $h2;
      }
    }
  }
}

#globalFooter {
  .services--wrapper {
    overflow-x: scroll;
    .services {
      scroll-behavior: smooth;
      display: flex;
      column-gap: 10px;
      background-color: $background-tertiary;
      font-size: $h5;
      color: $color-secondary;
      padding: 30px 0;
      justify-content: center;
      min-width: 1277px;
    }
  }

  .main--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $padding;
    height: 320px;
    background-color: $background-secondary;
    color: $color-primary;
    .icon {
      width: 100px;
      height: 100px;
      display: grid;
      place-items: center;
    }
    .separator {
      height: 30%;
      width: 1px;
      background-color: $color-primary;
    }
    h6 {
      font-size: $h5;
      font-weight: 700;
    }
    font-size: $h6;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      row-gap: 8px;
      margin-top: 12px;
    }
    .redes--sociales--wrapper {
      display: flex;
      column-gap: 20px;
      margin-top: 12px;
    }
    @media screen and (max-width: 950px) {
      padding: $padding;
      flex-direction: column;
      height: fit-content;
      align-items: flex-start;
      row-gap: 20px;
    }
  }
}
