@import "../../../styles/shared.scss";

.numbersWrapper {
  background-color: $background-tertiary;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  .numberComponent {
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 10%;
      font-size: 120px;
      font-weight: 300;
      width: fit-content;
    }
    div {
      font-size: $h1;
      font-weight: 700;
      color: $color-secondary;
      position: relative;
    }
  }
}
